Source: docker-ce
Section: admin
Priority: optional
Maintainer: Docker <support@docker.com>
Build-Depends: bash,
               bash-completion,
               ca-certificates,
               cmake,
               dh-apparmor,
               debhelper-compat (= 12),
               gcc,
               git,
               libc-dev,
               libnftables-dev,
               libsystemd-dev,
               libtool,
               make,
               pkg-config
Standards-Version: 3.9.6
Homepage: https://www.docker.com
Vcs-Browser: https://github.com/docker/docker
Vcs-Git: git://github.com/docker/docker.git

Package: docker-ce
Architecture: linux-any
Pre-Depends: init-system-helpers (>= 1.54~)
Depends: containerd.io (>= 1.7.27),
         docker-ce-cli,
         iptables,
         nftables,
         ${shlibs:Depends}
Recommends: apparmor,
            ca-certificates,
            docker-ce-rootless-extras,
            git,
            pigz,
            procps,
            xz-utils
Suggests: cgroupfs-mount | cgroup-lite,
            kmod,
Conflicts: docker (<< 1.5~),
           docker-engine,
           docker.io
Replaces: docker-engine,
          docker-ce-cli (<< 5:28.0.0)
Description: Docker: the open-source application container engine
 Docker is a product for you to build, ship and run any application as a
 lightweight container
 .
 Docker containers are both hardware-agnostic and platform-agnostic. This means
 they can run anywhere, from your laptop to the largest cloud compute instance
 and everything in between - and they don't require you to use a particular
 language, framework or packaging system. That makes them great building blocks
 for deploying and scaling web apps, databases, and backend services without
 depending on a particular stack or provider.

Package: docker-ce-cli
Architecture: linux-any
Depends: ${shlibs:Depends}
Recommends: docker-buildx-plugin,
            docker-compose-plugin
Suggests: docker-model-plugin
Conflicts: docker (<< 1.5~),
           docker-engine,
           docker.io
Replaces: docker-ce (<< 5:0)
Breaks: docker-ce (<< 5:0)
Description: Docker CLI: the open-source application container engine
 Docker is a product for you to build, ship and run any application as a
 lightweight container
 .
 Docker containers are both hardware-agnostic and platform-agnostic. This means
 they can run anywhere, from your laptop to the largest cloud compute instance
 and everything in between - and they don't require you to use a particular
 language, framework or packaging system. That makes them great building blocks
 for deploying and scaling web apps, databases, and backend services without
 depending on a particular stack or provider.

Package: docker-ce-rootless-extras
Architecture: linux-any
Depends: dbus-user-session,
         ${shlibs:Depends}
Enhances: docker-ce
Conflicts: rootlesskit
Replaces: rootlesskit
Breaks: rootlesskit
# slirp4netns (>= 0.4.0) is available in Debian since 11 and Ubuntu since 19.10
Recommends: slirp4netns (>= 0.4.0) | passt
# Unlike RPM, DEB packages do not contain "Recommends: fuse-overlayfs (>= 0.7.0)" here,
# because Debian (since 10) and Ubuntu support the kernel-mode rootless overlayfs.
Description: Rootless support for Docker.
 Use dockerd-rootless.sh to run the daemon.
 Use dockerd-rootless-setuptool.sh to setup systemd for dockerd-rootless.sh.
 This package contains RootlessKit, but does not contain VPNKit.
 Either slirp4netns (>= 0.4.0), passt, or VPNKit needs to be installed separately.
Homepage: https://docs.docker.com/engine/security/rootless/

Package: docker-buildx-plugin
Priority: optional
Replaces: docker-ce-cli
Architecture: linux-any
Enhances: docker-ce-cli
Description: Docker Buildx cli plugin.
 This plugin provides the 'docker buildx' subcommand.
Homepage: https://github.com/docker/buildx

Package: docker-compose-plugin
Priority: optional
Architecture: linux-any
Recommends: docker-buildx-plugin (>= 0.17.0)
Enhances: docker-ce-cli
Description: Docker Compose (V2) plugin for the Docker CLI.
 This plugin provides the 'docker compose' subcommand.
 .
 The binary can also be run standalone as a direct replacement for
 Docker Compose V1 ('docker-compose').
Homepage: https://github.com/docker/compose

Package: docker-model-plugin
Priority: optional
Architecture: linux-any
Enhances: docker-ce-cli
Description: Docker Model Runner plugin for the Docker CLI.
 This plugin provides the 'docker model' subcommand.
Homepage: https://docs.docker.com/model-runner/
